.breadList {
	margin-left: 10px;
	font-size: 0.8rem;
}

.article {
	padding: 0 10px;

	.h1 {
		font-size: 1.6rem;
		padding: 5px 5px;
		margin-bottom: 2px;
		border-bottom: double #aaa 3px;

	// &:before {

	// }
	}

	.date {
		display: flex;
		justify-content: flex-end;
		margin-right: 15px;

		time {
			font-size: 0.9rem;
			color: #666;
			font-style: italic;
			font-weight: 600;
		}
	}
}

.twitterButton {
	margin: 20px;
}
    